build/*
.vs/*
bin/Release/Beerpocalypse.pdb
bin/Release/Beerpocalypse.exe
bin/Debug/Beerpocalypse.pdb
bin/Debug/Beerpocalypse.exe
/ECG_Solution/.vs/ECG_Solution/FileContentIndex
/ECG_Solution/.vs/ECG_Solution/v17
/ECG_Solution/.vs
